@section Styles{
    <link href="~/assets/css/about.css" rel="stylesheet" />
}

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Who I am</h2>
    </section>
    <!-- Let's See... section -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4">
                    <img src="~/assets/img/bdaydog.jpg" class="rounded-corners image-shadow img-fluid" alt="me and tofu">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h2>Let's see...</h2>
                    <p>
                        I was born in Salem, Massachusetts and have lived in Boston, Scotland, Kansas, Russia, and New York City.
                        I currently reside in Kansas City, MO.
                    </p>

                    <p>
                        From 5th to 10th grade, I practiced kickboxing and won two state titles. After my dad introduced me to UFC, I began training in MMA and Brazilian jiu-jitsu.
                    </p>

                    <p>
                        I studied Russian at The University of Kansas because I was fascinated by its history and loved the writing of Dostoevsky and Nabokov.
                    </p>

                    <p>
                        I was accepted into Columbia's PhD program, where I earned my MA in Russian. I also studied philosophy and religion. I wrote my MA thesis on Dostoevsky and presented independent research at other elite universities, like Princeton and Yale.
                    </p>

                    <p>
                        Martial arts, academic research, and writing are all inherently independent endeavors that demand self-discipline, creativity, and allocating time everyday to practice and grow. However, sharing what I've learned and created has always been equally important to me as the “alone time” spent developing and improving my skills.
                    </p>

                    <p>
                        <strong><em>Now the next chapter of my life as a web developer begins.</em></strong>
                    </p>

                    <div class="col-lg-12">
                        <ul>
                        </ul>

                    </div>

                </div>


            </div>

    </section><!-- End Let's see... Section -->
    <!-- ---------------------Scholar(LOL) Turned Web Developer Section ---------------------- -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h2>Scholar Turned Web Developer</h2>
                <p>
                    Transitioning from studying Russian literature and philosophy to working as a web developer isn't as drastic as it might sound.
                </p>
                <p>
                    In fact, as a web developer, nothing has really changed outside of the language and its applications. Instead of writing academic articles and presenting research at conferences, I'm writing code and presenting my ideas to a team or potential clients.
                </p>
                <p>
                    Like mastering any art form or language, web development requires hours of independent devotion that will produce measurable progress and ability. Although I derive enjoyment from constructing functional code and building aesthetically pleasing web pages, my purpose is to synthesize my expertise in the field with my client's vision to create the end product.
                </p>
                <p>
                    If projects aren't collaborative, they're still relational.
                </p>

                <div class="col-md-12">
                    <img src="~/assets/img/nameconference.JPG" class="rounded-corners image-shadow img-fluid" alt="name tag">
                </div>

            </div>
            <!-- END Scholar(LOL) Turned Web Developer Section -->
    </section>

    <!-- Experimental Section ------------------------------------------------------>
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h2>Current Creative Projects</h2>
                <p>
                    I'm currently writing a book, <em>Origins of Radical Individuality</em>, on some of my favorite writers:
                    Kierkegaard, Dostoevsky, Nietzsche, and Nabokov. Though, I admit, that project has been put on hold as I hone
                    my craft as a developer.
                </p>
                <p>
                    I've also included my web development projects under the portfolio section of this site!
                </p>
                <div class="col-md-12">
                    <img src="~/assets/img/booksbooksbooks.jpg" class="rounded-corners image-shadow img-fluid" alt="name tag">

                </div>


            </div>
            <!-- END experimental Section -->
    </section>


    <!-- ======= Skills Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-5">
                    <img src="~/assets/img/pushkeen.JPG" class="rounded-corners image-shadow img-fluid" alt="pushkin statue">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h2>My Skills</h2>
                    <p>
                        I have ample experience in teaching, tutoring, and editing, as well as conducting and presenting original research on literary analysis, intellectual history, and pedagogy.  I'm now shifting my focus to web design. I'm bringing the same tenacity, passion, and confidence to web development as I did to academia.
                    </p>

                    <div class="col-lg-4">
                        <ul>
                            <li><i class="bi bi-rounded-right"></i> <strong>Certified Writing Tutor</strong></li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Programming Languages</strong></li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Web Technologies</strong></li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Copy Editing</strong></li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Problem-Solving</strong></li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Oral & Written Communication</strong></li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Public Speaking</strong></li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Leadership and Team Building</strong></li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Results & goal-driven</strong></li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Foreign Languages</strong></li>

                        </ul>

                    </div>

                </div>


            </div>
    </section><!-- End Skills Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Testimonials</h2>
                <p>It's always wonderful to make a positive impact.</p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/testimonialBlankPic.jpeg" class="testimonial-img" alt="blank face">
                            <h3>Nathaniel Smith</h3>
                            <h4>Client</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Thank you for always being there for me! My teachers notice big improvements!
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/testimonialBlankPic.jpeg" class="testimonial-img" alt="blank face">
                            <h3>Lucas Slater</h3>
                            <h4>Filmmaker</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Your insight and editing of the script was exactly what I needed. I can't wait to collaborate again.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/testimonialBlankPic.jpeg" class="testimonial-img" alt="blank face">
                            <h3>William Dobson</h3>
                            <h4>Lawyer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                I literally could not have gotten into law school without you. The way you sat down with me and restructured my personal statement with me sentence by sentence allowed the admissions offices to hear what I wanted to say, but still in my own words. If it were lawful, I would hire you to be my ghostwriter.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/testimonialBlankPic.jpeg" class="testimonial-img" alt="blank face">
                            <h3>Marie Adams</h3>
                            <h4>Nurse</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                It seemed like I was unhirable for some reason. After fixing my resume and personal statement, I got a job that month!
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/testimonialBlankPic.jpeg" class="testimonial-img" alt="blank face">
                            <h3>Yulia Kim</h3>
                            <h4>Former Student</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Mr. Harrison. I learned so much this semester from you. Your letter of recommendation was so nice. I'm sorry I approached you last minute. I'm happy to say that I got the scholarship I needed to study abroad.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

</main><!-- End #main -->