@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>Hello! My name is Harrison.</h1>
        <h2>I'm a foreign language instructor,</h2>
        <h3>academic, and editor turned web developer.</h3>
        <a href="~/Home/About" class="btn-about">About Me</a>
    </div>
</section><!-- End Hero -->
