@section Styles{
    <link href="~/assets/css/links.css" rel="stylesheet" />
}

<main id="main">

    <!-- ======= Links Section ======= -->
    <section id="links" class="links">


        <div class="container custom-border rounded shadow p-5" data-aos="fade-up">


            <div class="section-title">
                <h2>Meet My Cohort</h2>
                <br>
                <br>
                <h3><em>A Group of Exceptional Web Developers</h3></em>
            </div>

            <section class="section-padding bg-light-gray" id="my-cohort">
                <article class="card-container">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/assets/img/baldwinKate2.jpg" alt="KB">
                        </div>
                        <div class="card-body text-center">
                            <h4>
                                Kate
                            </h4>
                            <h4>
                                Baldwin
                            </h4>

                            <div class="social-links align-content-center" data-aos="zoom-in" data-aos-delay="100"></div>
                            <a href="http://www.marykatebaldwin.com" class="personalSite" target="_blank"><i class="bi bi-person-circle"></i></a>
                            <a href="https://www.linkedin.com/in/mary-kate-b-940ba4195/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></i></a>
                            <a href="https://github.com/katbaldwinn" class="github"><i class="bi bi-github" target="_blank"></i></a>

                        </div>
                    </div>
                </article>
                <article class="card-container">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/assets/img/BlackJohn.jpg" alt="JB">
                        </div>
                        <div class="card-body text-center">
                            <h4>
                                John
                            </h4>
                            <h4>
                                Black
                            </h4>
                            <a href="http://johnblackcoding.com/" class="personalSite" target="_blank"><i class="bi bi-person-circle"></i></a>
                            <a href="https://www.linkedin.com/in/john-black-1b0261182/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></i></a>
                            <a href="http://github.com/JohnBlack-101" class="github" target="_blank"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </article>
                <article class="card-container">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/assets/img/boehmNathan.jpg" alt="NB">
                        </div>
                        <div class="card-body text-center">

                            <h4>
                                Nathan
                            </h4>
                            <h4>
                                Boehm
                            </h4>

                            <a href="https://nathanboehm.com/" class="personalSite" target="_blank"><i class="bi bi-person-circle"></i></a>
                            <a href="https://www.linkedin.com/in/nathanboehm/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></i></a>
                            <a href="https://github.com/comp-arison" class="github" target="_blank"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </article>

                <article class="card-container">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/assets/img/CousinoScott.jpg" alt="SC">
                        </div>
                        <div class="card-body text-center">

                            <h4>
                                Scott
                            </h4>
                            <h4>
                                Cousino
                            </h4>

                            <a href="http://www.scottcousino.net" class="personalSite" target="_blank"><i class="bi bi-person-circle"></i></a>
                            <a href="https://www.linkedin.com/in/scott-cousino-a5bb66295/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></i></a>
                            <a href="https://github.com/Ssc553" class="github" target="_blank"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </article>



                <article class="card-container">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/assets/img/GrowBen.jpg" alt="BG">
                        </div>
                        <div class="card-body text-center">
                            <h4>
                                Benjamin
                            </h4>
                            <h4>
                                Grochowsky
                            </h4>
                            <a href="http://www.webejammn.com" class="personalSite" target="_blank"><i class="bi bi-person-circle"></i></a>
                            <a href="https://www.linkedin.com/in/benjamin-grochowsky-501542295/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></i></a>
                            <a href="https://github.com/Ben-Grochowsky" class="github" target="_blank"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </article>
                <article class="card-container">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/assets/img/HammondC.jpg" alt="CH">
                        </div>
                        <div class="card-body text-center">
                            <h4>
                                Colton
                            </h4>
                            <h4>
                                Hammond
                            </h4>
                            <a href="http://www.coltonhammond.com" class="personalSite" target="_blank"><i class="bi bi-person-circle"></i></a>
                            <a href="https://www.linkedin.com/in/colton-hammond-a39b2b295/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></i></a>
                            <a href="http://github.com/hammondcolton" class="github" target="_blank"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </article>
                <article class="card-container">
                    <div class="card">
                        <div class="card-header">
                            <img src="~/assets/img/ramirezGabe.jpg" alt="GR">
                        </div>
                        <div class="card-body text-center">
                            <h4>
                                Gabriel
                            </h4>
                            <h4>
                                Ramirez
                            </h4>
                            <a href="http://www.gramirezcoding.com" class="personalSite" target="_blank"><i class="bi bi-person-circle"></i></a>
                            <a href="https://www.linkedin.com/in/gabriel-ramirez-29b49855/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></i></a>
                            <a href="https://github.com/gdev15" class="github" target="_blank"><i class="bi bi-github"></i></a>
                        </div>
                    </div>
                </article>
            </section>
        </div>


    </section><!-- End Links Section -->

</main><!-- End #main -->