@section Styles{
    <link href="~/assets/css/resume.css" rel="stylesheet" />
}

<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container custom-border rounded shadow p-5" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>
                <p>harrisonws320@gmail.com | (913) 424-8829 | Kansas City, MO</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Summary</h4>
                        <p><em>Innovative and creative professional with a drive to achieve mastery and help others realize their potential. Able to adapt communication and teaching methods to best suit an individual's needs. Fearless learner and compassionate leader with over a decade of experience producing quality work in demanding environments with strict parameters and deadlines.</em></p>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <p><h4>Centriq's IT Career Program, Kansas City, MO</h4></p>
                        <h6>Full Stack Web Development Certification</h6>
                        <h5>2023 - 2024</h5>
                        <ul>
                            <li>Front End: HTML5, CSS3, JavaScript, jQuery, Bootstrap, React</li>
                            <li>Middle Tier: C#, .NET Core MVC, LINQ</li>
                            <li>Back End: SQL, SQL Server</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <p><h4>Columbia University, New York City, NY</h4></p>
                        <h6>Master of Arts in Russian</h6>
                        <h5>2016 - 2021</h5>
                        <ul>
                            <li>Graduated magna cum laude (3.84 GPA)</li>
                            <li>Recipient of Dean's Fellowship</li>
                            <li>Presented research at conferences for Columbia, Harvard, Yale, and Princeton</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <p><h4>The University of Kansas, Lawrence, KS</h4></p>
                        <h6>Bachelor of Arts in Russian</h6>
                        <h5>2009 - 2013</h5>
                        <ul>
                            <li>Graduated summa cum laude (3.93 GPA)</li>
                            <li>Winner of Undergraduate Research Award through the Honors Department</li>
                            <li>
                                Awarded Post-Secondary Russian Scholar Laureate by The American Council of Teachers of Russian in 2011 and, again, in 2013
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <p><h4>Direct Support Worker</h4></p>
                        <h6>Helpers, Inc., Olathe, KS</h6>
                        <h5>2021 - Present</h5>
                        <ul>
                            <li>Develop my special needs client's verbal skills and serve as his tutor</li>
                            <li>Supervise medication administration, personal hygiene, appointments, and recreational activities</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <p><h4>Graduate Teaching Assistant &amp; Language Instructor</h4></p>
                        <h6>Columbia University, New York, NY</h6>
                        <h5>2016 - 2021</h5>
                        <ul>
                            <li>Graded and provided feedback for students' papers and exams</li>
                            <li>Maintained records of student attendance and grades throughout the course</li>
                            <li>Delivered lectures and led group discussions for students</li>
                            <li>Held office hours to assist students with their academic writing and Russian language</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <p><h4>Pharmaceutical Dispensary Attendant</h4></p>
                        <h6>Brooks Family Care, Olathe, KS</h6>
                        <h5>2013 - 2015</h5>
                        <ul>
                            <li>Created a database to access every pharmaceutical representative's information, company, and record of branded drug samples</li>
                            <li>Managed the sales, inventory, and orders of prescriptions and supplements in the practice's pharmacy</li>
                            <li>Learned the use, efficacy, and contraindications of the medications and supplements</li>
                            <li>Served as doctor's intermediary with pharmaceutical representatives and pharmacies</li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <p><h4>Research Assistant for Dr. Ani Kokobobo</h4></p>
                        <h6>The University of Kansas, Lawrence, KS</h6>
                        <h5>2012 - 2013</h5>
                        <ul>
                            <li>Edited professor's article approved for publication</li>
                            <li>Prepared comprehensive reports summarizing research on theoretical texts for her book <em>Russian Writers and the Fin de Siècle: The Twilight of Realism</em> (Cambridge University Press)</li>
                            <li>Gathered data from libraries, literary journals, and online databases. for her book <em>Russian Grotesque Realism: The Great Reforms and the Gentry Decline</em> (Ohio State University Press)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section id="download resume" class="d-flex align-items-center">
            <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
                <div class="section-title">
                    <h2>Download my Resume</h2>
                    <a href="~/assets/PDFs/Harrison_Smith_Resume.pdf" class="btn-about" target="_blank">My Resume</a>
        </section><!-- End Resume Section -->

</main><!-- End #main -->
